<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>automatedgradingsystem</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
    <welcome-file>home.htm</welcome-file>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>check</servlet-name>
    <servlet-class>MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>check1</servlet-name>
    <servlet-class>MyServletF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check1</servlet-name>
    <url-pattern>/check1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>check2</servlet-name>
    <servlet-class>SignUpF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check2</servlet-name>
    <url-pattern>/check2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>check3</servlet-name>
    <servlet-class>SignUpS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>check3</servlet-name>
    <url-pattern>/check3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/servlet2</url-pattern>
  </servlet-mapping>
</web-app>